// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// Variables
@import 'variables';

.payment {
    span {
        color: rgb(114, 192, 44);
    }

    &:hover {
        span {
            color: $white;
        }
    }
}

.js-go-to {
    &:hover {
        i {
            color: $white;
        }
    }
}
